.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.MyForm {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.table {
  display: flex;
  flex-direction: column-reverse;
  border: solid 2px #282c34;
  margin: 10px;
  min-width: 380px;
}
.row {
  display: flex;
  margin: 0px -2px;
  border-bottom: solid 2px #282c34;
  flex-direction: row;
  justify-content: space-around;
  min-width: inherit;
}
.row:first-child {
  border-bottom: none;
}
.column {
  flex-basis: 50px;
}
.date {
  flex-grow: 3;
}
.byn {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
}
.usd {
  flex-grow: 0;
  flex-shrink: 0;
}
.buy {
  color: #4CAF50;
}
.not-buy {
  color: #f44336;
}
.buy:hover {
  color: #ffffff;
  background-color: #4CAF50;
}
.not-buy:hover {
  color: #ffffff;
  background-color: #f44336;
}
input {
  margin: 5px 0px;
}
button {
  border: 1px solid transparent;
  padding: 0.625rem 1.1875rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 4px;
}
.button {
  border: 1px solid transparent;
  padding: 0.625rem 1.1875rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
}
.filter {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
.loading {
  font-size: 40px;
  color: #F44336;
  position: absolute;
  width: 60px;
  height: 50px;
  left: 45vw;
  top: 40vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
